@media screen and (max-width: 1057px) {
    header label.burger {
      display: inline-block;
    }
  
    header nav ul {
      width: 60%;
      height: 100vh;
      position: fixed;
      top: 80px;
      right: -100%;
      transition: 0.5s ease;
      z-index: 100;
      background-color: var(--blue-2-color);
      flex-flow: column wrap;
      gap: 50px;
    }
  
    header nav div.backdrop {
      width: 100%;
      height: 100%;
      top: 80px;
      left: -100%;
      position: fixed;
      background-color: var(--black-1-color);
      z-index: 10;
      opacity: 0.5;
      transition: 0.5s ease;
    }
  
    header nav input:checked~ul {
      right: 0;
    }
  
    header nav input:checked~div.backdrop {
      left: 0;
    }

  
  

  .container11 {
        width: 70%;
        font-size: 70%;
        margin-left: 50px;
    }

  .container12  {
        width: 70%;
        font-size: 70%;
        margin-left: 50px;
    }

    /*main section {
        width: 90%;
    }*/
    
    .part1 {
        width: 80%;
        font-size: 100%;
    }



   
    .paragraph {
        width: 70%;
        font-size: 100%;
    }

    /*html {
      width: 70%;
    }*/


    .passionate {
      font-size: 10px;
    
      
    }
    
    .paragraph {
      font-size: 8px;
      padding-left: 150px;
    }

    .paragraph2 {
      font-size: 12px;
      padding-left: 150px;
    }

  }


@media screen and (max-width: 700px) {
  .part2 {
    background-image: 70%;
    margin-right: 350px;
  }

  div.buttons {
    width: 70%;
    font-size: 10px;
    margin-left: 200px;
  }


  .btn {

    width: 60%;
    margin-left: -100px
  }
  aside.right {

    width: 60%;
  }

  p.contactdetails {

    width: 60%;
  }
  .number1 {
    width: 60%;
    margin-left: -100px
    
  }
  .number20 {
    width: 60%;
    margin-left: -100px
    
  }
}
  

  @media screen and (max-width: 500px) {
  
    header aside.heading h2 {
 
    font-size: 85%;
}


header aside.heading p {
  
    font-size: 75%;
}
}


